:root{
    --color-texto:#252525;
    --color-detalles:#CC3636;
    --color-fondo:#F9F9F9;
    --color-fondo2:#413F42;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-fondo);
}

.img-fondo-principal{
    width: 100%;
    height: 100vh;
}

.fondo-principal{
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.fondo-negro{
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    background-color:#25252589 ;
}

.fondo-negro-h1{
    padding:15px 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 150px;
    font-size: 65px;
}

span:nth-child(1){
 color:var(--color-fondo);
}

span:nth-child(2){
    color: var(--color-detalles);
}

.fondo-negro-p{
    color: var(--color-fondo);
    padding: 15px;
    text-align: center;
    width:570px;
    margin-left: 450px;
    font-size: 25px;
}

.contain{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    text-align: center;

}

.nosotros{
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 55px;
    background-color: #F7F7F7;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.title-h2{
    grid-column-start: 1;
    margin-top: 100px;
    font-size: 60px;
    color:var;
    

}

.title-p{
    grid-column-start: 1;
    padding-top: 20px;
    line-height: 30px;
    font-size: 20px;
    color: var(--color-texto);
}


.frases-img{
    width: 400px;
    height: 400px;
}


.frase-h2{
    color: var(--color-detalles);
    font-size: 40px;
}

.productos{
    width: 100%;
}

.contain-productos{
    margin-top: 200px;
    text-align: center;
}

.title-productos-h2{
    font-size: 60px;
    color: var(--color-texto);
    margin: 45px;
    
}

.celulares{
    margin-top: 100px;
}

.galeria-imgs{
    width: 350px;
    height: 350px;
    
}

.clientes{
    width: 100%;
    margin-top: 90px;
}

.clientes-h2{
    text-align: center;
    font-size: 60px;
    color: var(--color-texto);
}

#lista-clientes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.cliente{
    width: 350px;
    height: 220px;
    border: var(--color-texto) solid 2px;
    border-radius: 15px;
    margin: 0px 25px;
    background-color: var(--color-texto);
}


.info-h2{
    margin: 0;
    background-color: var(--color-fondo);
    border-radius: 15px 0 0 0;
}

.cliente-nombre{
    font-size: 28px;
    margin-top: 8px;
}

.cliente-comentario{
    font-size: 15px;
    padding-bottom: 25px;
}
.info-img{
    margin: 17px 0;
    height: 55px;
}

.info-p{
    margin: 10px;
    font-size: 14px;
    color: var(--color-fondo);
}


.donde-estamos{
    width: 100%;
    height: 270px;
    background-color: var(--color-texto);
    margin-top: 200px;
}

.donde-estamos-info{
    display: flex;
    justify-content: center;
    text-align: center;
}

.div-1{
    margin: 65px 25px;
    background-color: var(--color-fondo);
    width: 400px;
    height: 145px;
    border-radius: 15px;
}

.div-2 {
    margin: 65px 25px;
    background-color: var(--color-fondo);
    width: 400px;
    height: 145px;
    border-radius: 15px;
}

.div-h3{
    margin-top: 20px;
    font-size: 30px;
    color: var(--color-detalles);
}


.div-p{
    margin-top: 20px;
    font-size: 18px;
}

.section-carrito{
    width: 100%;
}

.carrito{
    width: 100%;
    margin: 125px 95px;
}

.h2-carrito{
    font-size: 65px;
    color:var(--color-texto);
}

.img-carrito{
    height: 65px;
    margin:45px;
    
}


.div-tabla{
    margin-left: 430px;
}

#finalizarcompra{
    font-size: 19px;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--color-detalles);
    color:var(--color-fondo);
}   


/*clases de las cartas de productos*/

#celulares{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.caja-productos{
    width: 400px;
    border: 2px solid var(--color-texto);
}

.img-producto{
    width: 250px;
    margin: auto;
}
 

/* estilos del formulario*/

.div-center{
    display: flex;
    justify-content: center;
    text-align: center;
    
}


.div-formulario {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin-bottom: 45px;
    
}

.div-titulo {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.div-titulo h2 {
    margin: 0;
    font-size: 25px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: var(--color-detalles);
    border: 2px solid var(--color-texto);
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}